**/.DS_Store
**/__pycache__
**/*.pyc

docker-compose*.override.yml

# Ignore node modules
/src/frontend/templates/node_modules

# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore uploaded files in development
/storage/*
!/storage/.keep

/node_modules
/yarn-error.log

env/
src/.env

/public/assets
.byebug_history

# Ignore master key for decrypting credentials and more.
/config/master.key

# Ignore jetbrains temp files
.idea
.idea/*
.idea/.*

# Ignore vim temp files
*~
*.swp
*.swo

# Ignore pre-populated cards
/src/bigchaindb_client/personal_cards/*
