{% extends 'navbar.html' %} {% block container %}
<div class="header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Patient Portal</h1>
</div>
<div class="row p-3 justify-content-center">
  <form class="form-inline">
    <div class="form-group">
      <label for="files">Upload Patient Card:</label>
      <div class="pl-3">
        <input type="file" id="files" class="form-control" accept=".csv" required />
      </div>
    </div>
    <div class="pl-3 form-group">
      <button type="submit" class="btn btn-info" onclick="downloadCard(); return false;">Download Card</button>
    </div>
    <div class="pl-3 form-group">
      <button type="submit" class="btn btn-secondary" onclick="removeCard(); return false;">Remove Card</button>
    </div>
  </form>
</div>
<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="row">
        <div class="card w-100 mb-2 ml-2 mr-2">
          <div class="card-body">
            <h4 class="card-title">Patient Register</h4>
            <p class="card-text">Register with {{ hospital_name }}.</p>
            <form>
              <div class="form-group">
                <a class="btn btn-primary" role="button" onclick="register(); return false;">Register</a>
              </div>
            </form>
            <div class="card-subtitle mb-2 text-muted">Response:</div>
            <div class="card-text" id="registration-output"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="card w-100 mb-2 ml-2 mr-2">
          <div class="card-body">
            <h4 class="card-title">Patient Read</h4>
            <p class="card-text">Obtain patient medical records.</p>
            <form>
              <div class="form-group">
                <a class="btn btn-primary" role="button" onclick="read(); return false;">Read</a>
              </div>
            </form>
            <div class="card-subtitle mb-2 text-muted">Response:</div>
            <div class="card-text" id="read-output"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="card w-100 mb-2 ml-2 mr-2">
          <div class="card-body">
            <h4 class="card-title">Patient Transfer</h4>
            <p class="card-text">Transfer medical records.</p>
            <form>
              <div class="form-group">
                <div class="input-group">
                  <input id="transfer-input" type="text" class="form-control" aria-label="Text input with dropdown button" />
                  <div class="input-group-append">
                    <button
                      class="btn btn-outline-secondary dropdown-toggle"
                      type="button"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      Please Select
                    </button>
                    <div id="dropdown-menu" class="dropdown-menu">
                      <!-- Populated in js -->
                    </div>
                  </div>
                </div>
                <div class="pt-3">
                  <a class="btn btn-primary" role="button" onclick="transfer(); return false;">Transfer</a>
                </div>
              </div>
            </form>
            <div class="card-subtitle mb-2 text-muted">Response:</div>
            <div class="card-text" id="transfer-output"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="card w-100 mb-2 ml-2 mr-2">
          <div class="card-body">
            <h4 class="card-title">Patient Unregister</h4>
            <p class="card-text">Unregister from hospital ecosystem.</p>
            <form>
              <div class="form-group">
                <a href="#" class="btn btn-dark text-white" role="button" onclick="unregister(); return false;">Unregister</a>
              </div>
            </form>
            <div class="card-subtitle mb-2 text-muted">Response:</div>
            <div class="card-text" id="unregister-output"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
        <div class="row">
            <div id="patient_card" class="card w-75 mb-2 ml-2 mr-2">
                <div class="card-body">
                    <h4 class="card-title">Patient Card</h4>
                    <div class="card-subtitle mb-2 text-muted">Patient Name: <span class="card-text" id="patient_card_name"></span></div>
                    <div class="card-subtitle mb-2 text-muted">Patient ID: <span class="card-text" id="patient_card_id"></span></div>
                    <div class="card-subtitle mb-2 text-muted">Patient UID: <span class="card-text" id="patient_card_uid"></span></div>
                    <div class="card-subtitle mb-2 text-muted">Public Key: <span class="card-text" id="patient_card_pub_key"></span></div>
                    <div class="card-subtitle mb-2 text-muted">Private Key: <span class="card-text" id="patient_card_priv_key"></span></div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>

<script>
  /*
   * 
   * If registration is successful, the patient's UID along with their
   * public key would have been stored in the hospital's consistent storage
   * service.
   *
   */
  function register() {
    let card_patient_name_div = document.getElementById('patient_card_name');
    let patient_name = card_patient_name_div.innerHTML;

    let card_patient_id_div = document.getElementById('patient_card_id');
    let patient_id = card_patient_id_div.innerHTML;

    let card_patient_pub_key_div = document.getElementById('patient_card_pub_key');
    let patient_pub_key = card_patient_pub_key_div.innerHTML;

    let reg_div = document.getElementById('registration-output');

    if (patient_name == "" || patient_id == "" || patient_pub_key == "") {
        alert('Please upload your patient card.');
        reg_div.innerHTML = 'Registration Unsuccessful.';
        return;
    }

    const data = { name: patient_name, id: patient_id, pub_key: patient_pub_key };
    $.ajax({
        url: 'http://localhost:{{api_gateway_port}}/patient_reg',
        type: 'POST',
        dataType: 'json',
        data: JSON.stringify(data),
        error: function (request, status, error) {
            reg_div.innerHTML = 'Registration Unsuccessful: ' + error;
        },
        success: function (response) {
          reg_div.innerHTML = 'Registration Successful!';
          // Update patient card UI.
          let card_patient_uid_div = document.getElementById('patient_card_uid');
          card_patient_uid_div.innerHTML = response.uid;
        },
    });
  }

  function old_register() {
    patient_name_div = $('#patient_name');
    let patient_name = patient_name_div.val();

    patient_id_div = $('#patient_id');
    let patient_id = patient_id_div.val();

    // In the process of storing patient card info.
    var patient_data = [['', '']];

    // Generate the priv/pub key pair.
    crypto.subtle
      .generateKey(
        {
          name: 'RSA-OAEP',
          modulusLength: 2048, // can be 1024, 2048 or 4096
          publicExponent: new Uint8Array([0x01, 0x00, 0x01]),
          hash: { name: 'SHA-256' }, // or SHA-512
        },
        true,
        ['encrypt', 'decrypt']
      )
      .then(function (keyPair) {
        // Private Key Extraction.
        crypto.subtle
          .exportKey('pkcs8', keyPair.privateKey)
          .then(function (exportedPrivateKey) {
            // Converting exported private key to PEM format
            privateKey = toPrivPem(exportedPrivateKey);
            patient_data[0][1] = privateKey;
          })
          .catch(function (err) {
            console.log(err);
          });

        // Public Key Extraction.
        crypto.subtle
          .exportKey('spki', keyPair.publicKey)
          .then(function (exportedPublicKey) {
            // Converting exported public key to PEM format
            var pem = toPubPem(exportedPublicKey);

            // Sending the patient registration request.
            const data = { name: patient_name, id: patient_id, pub_key: pem };
            $.ajax({
              url: 'http://localhost:{{api_gateway_port}}/patient_reg',
              type: 'POST',
              dataType: 'json',
              data: JSON.stringify(data),
              error: function (request, status, error) {
                let reg_div = document.getElementById('registration-output');
                reg_div.innerHTML = 'Registration Unsuccessful.';
              },
              success: function (response) {
                let reg_div = document.getElementById('registration-output');
                reg_div.innerHTML = 'Registration Successful.';
                patient_data[0][0] = response.uid;

                // Update patient card UI.
                let card_patient_uid_div = document.getElementById('patient_card_uid');
                card_patient_uid_div.innerHTML = patient_data[0][0];

                let card_private_key_div = document.getElementById('patient_card_private_key');
                card_private_key_div.innerHTML = patient_data[0][1];
              },
            });
          })
          .catch(function (err) {
            console.log(err);
          });
      });

    patient_name_div.val('');
    patient_id_div.val('');
  }

  /*
   * If the patient has a card, the uid is sent in the request.
   * The patient can then decrypt their encrypted medical records
   * client side.
   */
  function read() {
    const read_output_div = document.getElementById('read-output');

    // Grab the uid from the card.
    let card_patient_uid_div = $('#patient_card_uid');
    const patient_uid = card_patient_uid_div.text();
    if (patient_uid === '') {
      read_output_div.innerHTML = 'Please upload your patient card.';
      return;
    }

    read_output_div.innerHTML = 'Loading...';

    // Make the request.
    const data = { uid: patient_uid };
    $.ajax({
      url: 'http://localhost:{{api_gateway_port}}/patient_read',
      type: 'POST',
      dataType: 'json',
      data: JSON.stringify(data),
      error: function (request, status, error) {
        read_output_div.innerHTML = 'Read Unsuccessful.';
      },
      success: function (response) {
        // Clear div before printing responses
        read_output_div.innerHTML = '';

        for (let i = 0; i < response.data.length; i++) {
          var elem = document.createElement('div');
          elem.innerHTML = decrypt(response.data[i]);
          read_output_div.append(elem);
        }
      },
    });
  }

  /*
   * Transfer patient records from this hospital to
   * dest hospital.
   */
  function transfer() {
    let transfer_output_div = document.getElementById('transfer-output');

    // Grab the uid from the card.
    card_patient_uid_div = $('#patient_card_uid');
    let patient_uid = card_patient_uid_div.text();
    if (patient_uid == '') {
      transfer_output_div.innerHTML = 'Please upload your patient card.';
      return;
    }

    // Get private key
    const privateKey = document.getElementById('patient_card_private_key').innerHTML;
    if (privateKey.length === 0) {
      transfer_output_div.innerHTML = 'Please upload your patient card.';
      return;
    }

    // Generate auth token
    const exp = Math.floor(Date.now()) + 60;
    const auth_token = KJUR.jws.JWS.sign(null, { alg: 'RS256' }, { exp: exp }, privateKey);

    // Grab dest hospital.
    let dest_hospital = document.getElementById('transfer-input').value;
    if (dest_hospital == '') {
      transfer_output_div.innerHTML = 'Please select hospital to transfer records to.';
      return;
    }

    const data = { uid: patient_uid, auth_token: auth_token, dest_hospital: dest_hospital };

    // Make the request.
    $.ajax({
      url: 'http://localhost:{{api_gateway_port}}/patient_transfer',
      type: 'POST',
      dataType: 'json',
      data: JSON.stringify(data),
      error: function (request, status, error) {
        transfer_output_div.innerHTML = 'Transfer Unsuccessful.';
      },
      success: function (response) {
        transfer_output_div.innerHTML = 'Transfer Successful.';
      },
    });
  }

  /*
   * Unregister patient from this hospital ecosystem.
   */
  function unregister() {
    let unregister_output_div = document.getElementById('unregister-output');
    // Grab the uid from the card.
    card_patient_uid_div = $('#patient_card_uid');
    let patient_uid = card_patient_uid_div.text();
    if (patient_uid == '') {
      unregister_output_div.innerHTML = 'Please upload your patient card.';
      return;
    }

    // Get private key
    const privateKey = document.getElementById('patient_card_private_key').innerHTML;
    if (privateKey.length === 0) {
      transfer_output_div.innerHTML = 'Please upload your patient card.';
      return;
    }

    // Generate auth token
    const exp = Math.floor(Date.now()) + 60;
    const auth_token = KJUR.jws.JWS.sign(null, { alg: 'RS256' }, { exp: exp }, privateKey);

    const data = { uid: patient_uid, auth_token: auth_token };

    // Make the request.
    $.ajax({
      url: 'http://localhost:{{api_gateway_port}}/patient_unreg',
      type: 'POST',
      dataType: 'json',
      data: JSON.stringify(data),
      error: function (request, status, error) {
        unregister_output_div.innerHTML = 'Unregister Unsuccessful.';
      },
      success: function (response) {
        unregister_output_div.innerHTML = 'Unregister Successful.';
      },
    });
  }

  /*************/
  /* UI Helper Functions */
  /*************/

  function removeCard() {
    var fileInput = document.getElementById('files');
    fileInput.value = '';

    let card_patient_uid_div = document.getElementById('patient_card_uid');
    card_patient_uid_div.innerHTML = '';

    let card_private_key_div = document.getElementById('patient_card_private_key');
    card_private_key_div.innerHTML = '';

    let read_output_div = document.getElementById('read-output');
    read_output_div.innerHTML = '';

    return false;
  }

  var newFileInput = document.getElementById('files'),
      newReadFile = function () {
          var reader = new FileReader();
          reader.onload = function () {
              let rows = reader.result.split('\n');

              // first row is labels, second row is data
              let data_row = rows[1];

              // columns are [name, id, pub_key, priv_key]
              let cols = data_row.split(',');
              let name = cols[0];
              let patient_id = cols[1];
              let pub_key = cols[2];
              let priv_key = cols[3];

              let card_patient_name_div = document.getElementById('patient_card_name');
              card_patient_name_div.innerHTML = name;

              let card_patient_id_div = document.getElementById('patient_card_id');
              card_patient_id_div.innerHTML = patient_id;

              let card_patient_pub_key_div = document.getElementById('patient_card_pub_key');
              card_patient_pub_key_div.innerHTML = pub_key;

              let card_patient_priv_key_div = document.getElementById('patient_card_priv_key');
              card_patient_priv_key_div.innerHTML = priv_key;
          };
          // Read the file.
          reader.readAsBinaryString(newFileInput.files[0]);
      };

  newFileInput.addEventListener('change', newReadFile);

  /* Upload/Download Helper Functions */

  {#var fileInput = document.getElementById('files'),#}
  {#  readFile = function () {#}
  {#    var reader = new FileReader();#}
  {#    var uid = '';#}
  {#    var result = '';#}
  {#    reader.onload = function () {#}
  {#      // Ugly code to get params from file.#}
  {#      result = reader.result.split(',');#}
  {#      uid = reader.result.split(',')[1].split('\n')[1];#}
  {##}
  {#      let card_patient_uid_div = document.getElementById('patient_card_uid');#}
  {#      card_patient_uid_div.innerHTML = uid;#}
  {##}
  {#      let card_private_key_div = document.getElementById('patient_card_private_key');#}
  {#      card_private_key_div.innerHTML = result[2];#}
  {#    };#}
  {#    // Read the file.#}
  {#    reader.readAsBinaryString(fileInput.files[0]);#}
  {#  };#}
  {##}
  {#fileInput.addEventListener('change', readFile);#}

  function downloadCard() {
    let data = [['', '']];
    let card_patient_uid_div = document.getElementById('patient_card_uid');
    let card_private_key_div = document.getElementById('patient_card_private_key');
    data[0][0] = card_patient_uid_div.innerHTML;
    data[0][1] = card_private_key_div.innerHTML;

    let csv = 'UID,PRIV_KEY\n';
    data.forEach(function (row) {
      csv += row.join(',');
      csv += '\n';
    });
    const hiddenElement = document.createElement('a');
    hiddenElement.href = 'data:text/csv;charset=utf-8,' + encodeURI(csv);
    hiddenElement.target = '_blank';
    hiddenElement.download = 'patient_card.csv';
    hiddenElement.click();

    return false;
  }

  function transferInput(data) {
    let transferInput = document.getElementById('transfer-input');
    transferInput.value = data;
  }

  /* Crypto Helper Functions */
  function arrayBufferToBase64(arrayBuffer) {
    var byteArray = new Uint8Array(arrayBuffer);
    var byteString = '';
    for (var i = 0; i < byteArray.byteLength; i++) {
      byteString += String.fromCharCode(byteArray[i]);
    }
    var b64 = window.btoa(byteString);
    return b64;
  }

  function addNewLines(str) {
    var finalString = '';
    while (str.length > 0) {
      finalString += str.substring(0, 64) + '\n';
      str = str.substring(64);
    }
    return finalString;
  }

  function toPubPem(publicKey) {
    var b64 = addNewLines(arrayBufferToBase64(publicKey));
    var pem = '-----BEGIN PUBLIC KEY-----\n' + b64 + '-----END PUBLIC KEY-----';
    return pem;
  }

  function toPrivPem(privateKey) {
    var b64 = addNewLines(arrayBufferToBase64(privateKey));
    var pem = '-----BEGIN PRIVATE KEY-----\n' + b64 + '-----END PRIVATE KEY-----';
    return pem;
  }

  function decrypt(data) {
    const privateKey = document.getElementById('patient_card_private_key').innerHTML;
    const decrypt = new JSEncrypt();
    decrypt.setPrivateKey(privateKey);
    const plainText = decrypt.decrypt(data) || 'DECRYPTION FAILED';
    return plainText;
  }

  /* Get all hospitals in this ecosystem. */
  $.ajax({
    url: 'http://localhost:{{api_gateway_port}}/list_hospitals',
    type: 'GET',
    dataType: 'json',
    error: function (request, status, error) {
      console.log(error);
    },
    success: function (response) {
      var dropdown = document.getElementById('dropdown-menu');
      for (let i = 0; i < response.length; i++) {
        var elem = document.createElement('a');
        elem.classList.add('dropdown-item');
        elem.onclick = function () {
          transferInput(response[i].id);
        };
        elem.innerHTML = response[i].name;
        dropdown.appendChild(elem);
      }
    },
  });
</script>
{% endblock %}
